<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">
    <mapping>
        <class-a>com.samples.springsolrsearchsample.model.request.Product</class-a>
        <class-b>com.samples.springsolrsearchsample.model.fulltext.ProductDocument</class-b>
        <field>
            <a>productId</a>
            <b>id</b>
        </field>
        <field>
            <a>name</a>
            <b>name</b>
        </field>
        <field>
            <a>shortDesc</a>
            <b>shortDesc</b>
        </field>
        <field>
            <a>longDesc</a>
            <b>longDescription</b>
        </field>
        <field>
            <a>expiryDate</a>
            <b>expiryDate</b>
        </field>
    </mapping>
    <!--<mapping>
        <class-a>com.samples.springsolrsearchsample.model.fulltext.ProductDocument</class-a>
        <class-b>com.samples.springsolrsearchsample.model.request.Product</class-b>
        <field>
            <a>id</a>
            <b>productId</b>
        </field>
        <field>
            <a>name</a>
            <b>name</b>
        </field>
        <field>
            <a>shortDesc</a>
            <b>shortDesc</b>
        </field>
        <field>
            <a>longDescription</a>
            <b>longDesc</b>
        </field>
        <field>
            <a>expiryDate</a>
            <b>expiryDate</b>
        </field>
    </mapping>-->
</mappings>